body.pwa {

  --navtop: calc(var(--space-xl) + 2 * var(--gap));
  --column-width: 80ch;

  & nav {

    @media screen and (width <=1200px) {
      padding-inline-start: var(--gap);
      max-inline-size: 100vw;
      overflow-x: auto;

    }

    & ul li:not(:first-child) {
      margin-block-start: var(--space-xs);
    }

    & ul li a.download {
      display: flex;
      align-items: center;
      gap: 1ch;

      &>svg {
        block-size: var(--space-l);
      }
    }

    &>div {
      display: flex;
      align-items: start;
      gap: var(--space-xs-s);
      block-size: 100%;

      &>header {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        /* font-size: var(--step-2); */
        font-weight: var(--font-weight-bold);
        /* letter-spacing: .25ch; */
        /* line-height: 1; */
        color: var(--color-text-20);
        /* text-decoration: underline; */
        display: flex;
        flex-direction: row-reverse;
        gap: var(--space-s);
        /* border-block-start: solid 1px var(--color-back-10); */

        & .nav-tab {
          /* background-color: var(--color-back-10); */
          border-bottom-right-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
          padding-block: var(--space-3xs) var(--space-2xs);
          padding-inline: var(--border-radius);
          border: solid 1px var(--color-back-10);
          border-block-start-width: 4px;
          transition: all var(--duration) var(--easing);

          &:hover {
            background-color: var(--color-back-5);
          }

          &.current {
            border-block-start-color: var(--color-primary-30);
            color: var(--color-text-5);
            background-color: var(--color-back-5);
          }

          &.disabled {
            pointer-events: none;
            cursor: pointer;
            color: var(--color-back-30);

          }
        }
      }

      & .scroller {
        overflow: hidden;

        overscroll-behavior-y: contain;

        scroll-snap-type: y mandatory;
        /* scroll-behavior: smooth; */


        scrollbar-width: none;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }

        block-size: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 100%;

        &>ul {
          scroll-snap-align: start;
          /* scroll-margin: 5vh 0; */
          /* scroll-padding: 10vh 10vw; */
        }
      }
    }
  }

  & #site-header {
    justify-content: space-between;

    & button.print-button {
      padding: var(--space-s);
      font-size: var(--step-2);
      border-radius: 50%;
      box-shadow: none;

      & svg.icon {
        height: 1em;

        & path {
          stroke-width: 2px;
          fill: none;
        }
      }
    }
  }

  & .banner {
    min-block-size: 70vh;
    padding: 0;
    margin-block-end: var(--space-m);

    & model-viewer {
      block-size: 100%;
    }
  }

  & section.main-header {
    margin-block-end: 0;
  }

  & details {
    margin-inline: 0;

    &>summary::after {
      mix-blend-mode: normal;
      background-blend-mode: difference;
      background-color: var(--color-back-10);
      padding: var(--space-m);
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: var(--border-radius);
    }
  }

  & figure {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    & figcaption {
      text-align: center;
      font-style: normal;
      margin-block-start: initial;
      font-size: var(--step--1);
      line-height: 1.3;
    }
  }

  & .items {
    grid-template-columns: 1fr var(--space-s-l) var(--space-s-l) 1fr;
    gap: var(--space-m-l) 0;
    margin-block-start: var(--space-s-l);
    transition: all var(--duration) var(--easing);

    & a {
      text-decoration-color: transparent;
      border-radius: var(--border-radius);


      &:hover {
        text-decoration-color: var(--color-text-10);
      }

      &.checked-node {
        outline: dashed 4px var(--color-primary);
        outline-offset: 6px;
      }
    }

    & img {
      inline-size: 100%;
    }

    &>:nth-child(4n+1),
    &>:nth-child(4n+2) {
      align-self: end;
    }

    &>:nth-child(12n+1),
    &>:nth-child(12n+3),
    &>:nth-child(12n+7) {
      grid-column: 1/3;
    }

    &>:nth-child(12n+5),
    &>:nth-child(12n+9),
    &>:nth-child(12n+11) {
      grid-column: 1/2;
    }

    &>:nth-child(12n+2),
    &>:nth-child(12n+4),
    &>:nth-child(12n+8) {
      grid-column: 4/5;
    }

    &>:nth-child(12n+6),
    &>:nth-child(12n+10),
    &>:nth-child(12n+12) {
      grid-column: 3/5;
    }

    &>:nth-child(2) {
      align-self: end;
    }
  }

  & main>section {
    scroll-margin-block-start: var(--navtop);
    margin-block-end: var(--space-xl);
  }

  & .table {
    display: grid;
    grid-template-columns: max-content 3ch 4ch auto 6ch;
    gap: 1ch;
    align-items: center;
  }

  & .card {
    display: flex;
    gap: var(--space-xs-l);
    border-block-end: solid 1px var(--color-back-5);
    padding-block-end: var(--space-2xs);


    & .card-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      gap: var(--space-3xs);
      line-height: 1.4;

      & p:nth-child(2) {
        font-size: var(--step--1);
        font-weight: var(--font-weight-light);
        opacity: .85;
      }
    }

    &>:first-child {
      flex: 0 0 8ch;
    }

    &>p {
      flex: 0 1 7ch;
      text-align: end;
    }

    & img {
      aspect-ratio: 1;
      object-fit: cover;
    }

    &:first-of-type {
      margin-block-start: var(--space-xl);
    }
  }

  &.design #site-header a.logo {
    text-shadow: .1ch .1ch 4px red, .1ch -.1ch 4px blue, -.1ch 0 4px green;
  }

  & main :where(ul, ol):not([class]) {
    list-style-type: disc;
    padding-inline-start: 2ch;
    /* font-weight: var(--font-weight-light); */

    li:not(:first-child) {
      margin-block-start: 1em;
    }
  }

  & .project-name {
    color: var(--color-text-10);
    font-family: 'Roboto-Slab', 'Roboto-Slab-fallback', serif;
    font-size: var(--step-2);
    font-weight: var(--font-weight);
    letter-spacing: normal;
    text-transform: lowercase;
    transition: transform var(--duration) var(--easing);

    &:hover {
      transform: scale(.85);
    }
  }

  & .logo-container {
    display: flex;
    align-items: baseline;
  }

}

@media print {
  :root {
    --color-back: #fff;
    --color-text: #000;
    --color-primary: #e69679;
  }

  body.pwa {

    nav,
    #site-header label,
    section.banner,
    #site-footer {
      display: none;
    }

    #site-header {
      position: relative;

      & .logo span:nth-child(3) {
        color: var(--color-primary);
      }
    }

    &>main>section {
      grid-column: content;
      padding-inline: 0;
      background: var(--color-back);
      page-break-before: always;
      page-break-inside: avoid;
      break-before: page;
      break-inside: avoid;
      margin-block-start: 0;
    }

    section.main-header {
      page-break-before: avoid;
      break-before: avoid;
    }

    .card {
      page-break-inside: avoid;
      break-inside: avoid;
    }

    details {
      padding-inline: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      page-break-after: avoid;
    }

  }





  @page {
    size: A4 portrait;
    margin: 1cm;
  }
}