body {
  display: grid;
  grid-template-columns: var(--gap) max-content 1fr var(--gap);
  grid-template-rows: auto 1fr auto;
}

#site-header {
  grid-column: 2/4;
}

nav {
  grid-column: 2/3;
  grid-row: span 2;
}

main {
  grid-column: 3/4;
}

#site-footer {
  grid-column: 3/4;
}