---
permalink: 404.html
layout: layouts/generic.liquid

title: Ошибка 404
description: Ошибка 404. К сожалению, страница, которую вы искали, не существует.

eleventyExcludeFromCollections: true

eleventyNavigation:
  key: notfound
  title: Страница не найдена
  parent: index

nobc: 1
notop: 1
---
<section class="popout color-primary">
  <h1>Ошибка 404</h1>
</section>

<p>К сожалению, страница, которую вы искали, не существует.</p>
