<div class="form-loading stack fhide">
  <h4>Отправка..</h4>
  <p>Пожалуйста, подождите.</p>
</div>
<div class="form-success stack fhide">
  <h4>Спасибо!</h4>
  <p>Мы получили ваше сообщение и свяжемся с вами в ближайшее время.</p>
</div>
<div class="form-error stack fhide">
  <h4>Ошибка!</h4>
  <p>Не удалось отправить сообщение. Пожалуйста, попробуйте еще раз.</p>
</div>