<input
  type="checkbox"
  name="menu-toggle"
  id="menu-toggle">
<header id="site-header">
  <label for="menu-toggle" class="menu-label">
    {% include 'svg-icons/ham.svg' %}
    {% include 'svg-icons/cross.svg' %}
  </label>
  <a href="/" class="logo"><span>*</span><span>опа</span><span>/</span></a>
</header>